body {
  background-color: #fafffa;
}

input {
  max-width: 400px;
}

#output {
  margin-top: 30px;
}

.container {
  max-width: 8.7in;
  /*padding-bottom: 100%;
  background-color: white;*/
}

label {
  margin-bottom: 20px;
}
